#signup-page-body {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--default-primary-background);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#signup-island {
    position: inherit;
    backdrop-filter: blur(0);
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin-top: -3rem;
    border-radius: 1rem;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: white;
    min-width: 15rem;
    width: 60vw;
    max-width: 30rem;
    min-height: 20rem;
    height: 70vh;
    max-height: 35rem;
    /* max-height: 50vh; */
}

#signup-island p {
    font-size: 1.125rem;
}

#signup-island-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 4rem;
}

#signup-island-header h2 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

#signup-now-message {
    padding: 0;
    margin: 0;
    /* height: 1rem; */
}

#signup-message-error {
    color: var(--default-error-red);
    padding: 0;
    margin: 0;
    /* height: 1rem; */
}

#signup-island hr {
    padding: 0;
    margin: 0;
    /* margin-top: -10%; */
    width: 75%;
    max-width: 30ch;
    border: 1px solid var(--default-secondary-text);
}

.signup-island-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    height: 70%;
    padding: 1rem;
}

.signup-island-form .form-input {
    width: 85%;
}

.signup-island-form input {
    font-size: 1.125rem;
    padding: 1rem;
    height: 3.5rem;
    max-width: 50ch;
    border: solid 1px;
    border-color: var(--default-primary-border);
    border-radius: 5px;
}

#signup-form-1 {
    margin: 2rem;
    gap: 1.75rem;
    height: 60%;
}

#signup-form-2 {
    margin: 1rem;
    gap: 1.125rem;
}

#signup-form-sex-label {
    padding: 0;
    margin: 0;
    color: var(--default-secondary-text);
    font-size: 1rem;
}

.signup-form-choices {
    margin: 0;
    z-index: 1;
    padding: 0.4rem;
    display: flex;
    background-color: white;
    backdrop-filter: blur(0);
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.signup-form-choices button {
    font-size: 1.125rem;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 6rem;
    width: 7rem;
    max-width: 10rem;
    padding: 1rem;
    height: 3rem;
    transition: filter 0.1s, background-color 0.1s, color 0.1s;
}

.signup-form-choice-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.signup-form-choice-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.signup-form-choice-button {
    cursor: pointer;
    background-color: white;
    border: none;
    color: var(--default-primary-text);
}

.signup-form-choice-button:active {
    filter: brightness(0.9);
}

.signup-form-choice-button-active {
    cursor: default;
    border: none;
    filter: brightness(1.1);
    background-color: var(--profile-primary-purple);
    border-color: var(--default-secondary-text);
    color: white;
}

#signup-form-sex-choices {
    margin-top: -0.5rem;
}

#signup-form-2 input[type="date"] {
    color: var(--default-primary-text);
    display: block;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#signup-form-3 {
    margin: 1rem;
    gap: 2.5rem;
}

#signup-form-3 .signup-form-choices {
    margin-top: -1.5rem;
}

#signup-form-4 {
    margin-top: 1rem;
}

#signup-form-4 .form-input {
    margin-top: 2rem;
}

#signup-activity-levels-list {
    align-self: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 80%;
}

#signup-activity-levels-list li {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.signup-activity-level {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-activity-button {
    padding: 0;
    margin: 0;
    cursor: pointer;
    flex-shrink: 0;
    height: 2rem;
    width: 2rem;
    border: solid 2px var(--default-primary-border);
    border-radius: 50%;
    background-color: white;
}

.signup-activity-button.active {
    background-color: var(--profile-primary-purple);
}

.signup-activity-level h5 {
    text-align: left;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}
.signup-activity-level p {
    padding: 0;
    margin: 0;
    margin-top: 0.25rem;
    text-align: left;
}

#signup-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-value-summary {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.signup-value-summary .signup-summary-value {
    text-align: right;
    word-wrap: break-word;
    width: 50%;
}

#create-account-button {
    transition: filter 0.1s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    padding: 1rem;
    margin-top: 2rem;
    width: 50ch;
    height: 1.75rem;
    max-width: 12rem;
    border: solid 1px;
    border-color: var(--default-primary-border);
    border-radius: 5px;
    background-color: var(--profile-primary-purple);
    color: white;
    font-size: 1.375rem;
    font-weight: bold;
}

#create-account-button:hover {
    filter: brightness(1.1);
}

#create-account-button:active {
    filter: brightness(0.9);
}

#signup-nav-buttons {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    bottom: 3rem;
    align-self: flex-end;
    justify-self: flex-end;
}

#signup-nav-buttons button {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.1s;
    cursor: pointer;
    color: white;
    background-color: var(--profile-primary-purple);
    /* height: 2.5rem;
    width: 3.5rem; */
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

#signup-nav-buttons button:hover {
    filter: brightness(1.1);
}

#signup-nav-buttons button:active {
    filter: brightness(0.9);
}

#signup-nav-back {
    top: -3rem;
    left: -10rem;
}

#signup-nav-next {
    top: -3rem;
    left: -5rem;
}

#signup-indicator-dots {
    position: absolute;
    bottom: 0.75rem;
    height: 1.5rem;
}

#signup-indicator-dots .signup-indicator-dot-default {
    fill: var(--default-secondary-background);
}

#signup-indicator-dots .signup-indicator-dot-current {
    transition: r 0.1s, cx 0.1s;
    /* transition: cx 0.01s; */
    fill: var(--profile-secondary-purple);
}

#signup-page-round-background-decoration {
    position: absolute;
    bottom: 70%;
    background-color: var(--profile-primary-purple);
    height: 100rem;
    max-height: 80vh;
    width: 250rem;
    max-width: 200vw;
    border-radius: 50%;
}

#signup-page-bottom-top-banner-background-decoration {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 16vh;
    background-color: var(--profile-secondary-purple);
}

#signup-page-bottom-bot-banner-background-decoration {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    background-color: var(--profile-tertiary-purple);
}

@media screen and (max-width: 800px) {
    #signup-island {
        width: 70vw;
        max-width: 30rem;
    }

    #signup-island a {
        height: 1.75rem;
    }

    .signup-island-form input {
        font-size: 1.35rem;
        height: 4rem;
    }

    #signup-island-form button {
        height: 1.75rem;
    }

    #signup-page-round-background-decoration {
        max-height: 30vh;
    }
}
