#diary-page-body {
    position: relative;
    overflow: hidden;
    background-color: var(--default-primary-background);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#diary-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    max-height: 50rem;
    width: 100vw;
    max-width: 80rem;
}

#diary-calorie-calculation-island {
    backdrop-filter: blur(0);
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0rem;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 50rem;
    margin: 2.05rem;
    /* margin: 2rem; */
}

#diary-calorie-calculation-island h3 {
    align-self: flex-start;
    margin-top: 0;
}

#diary-calorie-calculation-island h4 {
    font-size: 1.125rem;
    margin-bottom: 0;
}

#diary-calorie-calculation {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#diary {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 34rem;
    max-height: 55vh;
    flex-shrink: 0;
}

.diary-section {
    flex-shrink: 0;
    backdrop-filter: blur(0);
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0rem;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 50rem;
    margin: 2.05rem;
}

.diary-section-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.diary-section-header h3 {
    text-align: left;
    align-self: flex-start;
    margin-top: 0;
}

.diary-section-header h4 {
    margin-top: 0;
    font-size: 1.125rem;
}

.diary-section-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.diary-section-item {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.75rem;
    background-color: white;
}

.diary-section-item:hover {
    filter: brightness(0.95);
}

.diary-section-item-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.25rem;
}

.diary-section-item-name h4 {
    text-align: left;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.diary-section-item-name p {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
    color: var(--default-secondary-text);
}

.diary-section-add-item {
    cursor: pointer;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
}

.diary-section-add-item:hover {
    filter: brightness(0.95);
}

.diary-section-add-item button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--default-primary-background);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.diary-section-add-item img {
    height: 2rem;
    width: 2rem;
}

.diary-section-add-item label {
    cursor: pointer;
}

#diary-page-bottom-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#diary-date-input {
    flex-shrink: 0;
    color: var(--default-primary-text);
    display: inline-flex;
    background-color: white;
    /* margin-top: 2rem; */
    z-index: 1;
    background-color: white;
    border: 2px solid var(--default-primary-border);
    border-radius: 5px;
    font-size: 1.125rem;
    height: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#diary-page-bottom-banner .form-input label {
    color: white;
}

@media screen and (max-width: 800px) {
    #diary-calorie-calculation-island {
        width: 75vw;
    }

    #diary {
        height: 40rem;
        max-height: 42.5vh;
    }

    .diary-section {
        width: 75vw;
    }

    .diary-section-item-name p {
        font-size: 0.875rem;
    }
}
