#dashboard-page-body {
    position: relative;
    overflow: hidden;
    background-color: var(--default-primary-background);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#dashboard-page-content {
    z-index: 1;
    margin-top: -5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    height: 80vh;
    max-height: 50rem;
    width: 100vw;
    max-width: 80rem;
    overflow-x: hidden;
    overflow-y: auto;
}

#dashboard-daily-summary-island {
    flex-shrink: 0;
    backdrop-filter: blur(0);
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0rem;
    border-radius: 1rem;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 30rem;
    min-height: 22.5rem;
    margin: 2rem;
}
#dashboard-daily-summary-island h2 {
    font-size: 1.5rem;
    margin: 1rem;
}

#dashboard-daily-summary-calculation {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

#dashboard-daily-summary-calculation h4 {
    font-size: 1.125rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#dashboard-daily-summary-charts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin: 1rem;
}

#dashboard-daily-summary-macro-charts {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

#goal-circle {
    position: sticky;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}
#goal-circle h4 {
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
}
#goal-circle h5 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

#goal-circle div {
    z-index: 1;
    padding: 0;
    margin: 0;
    top: 50%;
    align-self: center;
    justify-self: center;
}
#goal-circle canvas {
    position: absolute;
}
.dashboard-macro-circle {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.dashboard-macro-circle-inner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dashboard-macro-circle-inner-text h4 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.dashboard-macro-circle p {
    /* position: absolute; */
    width: 5ch;
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
}

.dashboard-macro-circle div {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    align-self: center;
    justify-self: center;
}
.dashboard-macro-circle canvas {
    position: absolute;
}

#dashboard-widgets {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0rem;
    align-items: center;
    width: 100%;
    z-index: 1;
}

#dashboard-food-searchbox {
    position: inherit;
    box-sizing: border-box;
    height: 3.75rem;
    width: fit-content;
    display: flex;
    margin: 2rem;
    margin-bottom: 0.5rem;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    border: 0.2rem solid var(--default-primary-border);
}
#dashboard-food-searchbox input {
    font-size: 1.125rem;
    outline: none;
    padding: 0;
    min-width: 13.125rem;
    width: 20vw;
    max-width: 25rem;
    height: 3rem;
    border: none;
    background-color: white;
}
#dashboard-food-searchbox button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    right: 0;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 50%;
}

#dashboard-food-searchbox button:hover {
    background-color: var(--default-primary-background);
}
#dashboard-food-searchbox button img {
    height: 1.5rem;
}
#dashboard-food-searchbox:focus-within {
    border: 0.2rem solid var(--default-tertiary-color);
}

#dashboard-search-island {
    backdrop-filter: blur(0);
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 25rem;
    min-height: 10.5rem;
    height: 20vh;
    /* margin: 2rem; */
}

#dashboard-search-island img {
    filter: opacity(0.4) grayscale(0.5);
    height: 10rem;
}

#dashboard-search-island h3 {
    z-index: 1;
    margin-top: -2.5rem;
}

#dashboard-progress-island {
    backdrop-filter: blur(0);
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 25rem;
    min-height: 10.5rem;
    height: 35vh;
    margin: 1rem;
    margin-top: 2rem;
}

#dashboard-daily-summary-charts label {
    font-weight: 700;
    font-size: 1rem;
}

#dashboard-daily-summary-fat label {
    color: var(--food-info-color-fat);
}
#dashboard-daily-summary-carbs label {
    color: var(--food-info-color-carb);
}
#dashboard-daily-summary-protein label {
    color: var(--food-info-color-protein);
}

@media screen and (max-width: 800px) {
    #dashboard-page-content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    #dashboard-daily-summary-island {
        width: 75vw;
        max-width: 30rem;
        /* height: 32.5rem; */
        /* min-height: 25rem; */
    }

    #dashboard-food-searchbox input {
        font-size: 1.5rem;
        min-width: 13.125rem;
        width: 50vw;
        max-width: 35rem;
        height: 2rem;
        border: none;
        background-color: white;
    }

    #dashboard-food-searchbox button {
        margin-right: 1rem;
        height: 3rem;
        width: 3rem;
    }

    #dashboard-food-searchbox button img {
        height: 1.5rem;
    }

    #dashboard-search-island {
        width: 70vw;
        max-width: 30rem;
    }

    #dashboard-progress-island {
        margin-top: 5rem;
        width: 70vw;
        max-width: 30rem;
    }
}

@media screen and (max-width: 400px) {
    #dashboard-daily-summary-island {
        width: 80vw;
    }
    #dashboard-search-island h3 {
        font-size: 0.95rem;
    }
}

#food-island-back-arrow {
    align-self: flex-start;
    font-weight: 700;
    margin-top: -1.5vh;
    margin-left: 1vw;
    margin-bottom: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: var(--default-primary-text);
}

#food-island-back-arrow img {
    height: 1rem;
    width: 1rem;
}

#food-island-add {
    align-self: flex-end;
    font-weight: 700;
    margin-top: -1.5vh;
    margin-left: 1vw;
    margin-bottom: 1rem;
    display: inline-flex;
    align-items: top;
    gap: 0.25rem;
    text-decoration: none;
    color: var(--default-primary-text);
}

#food-island-add img {
    height: 1rem;
    width: 1rem;
}

#food-island-buttons {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.recipe-section-item {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.75rem;
    background-color: white;
}

.recipe-section-item:hover {
    filter: brightness(0.95);
}

.recipe-section-item-name p {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
    color: var(--default-secondary-text);
}

#recipe-inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#recipe-inputs .form-input input {
    height: 3rem;
    border: 1px solid var(--default-primary-border);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#recipe-name-input {
    max-width: 18ch;
}

#recipe-serving-input {
    max-width: 8ch;
}

#food-search-island {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 25rem;
    min-height: 10.5rem;
    margin: 2rem;
    }

    #recipe-food-searchbox-empty {
        position: inherit;
        box-sizing: border-box;
        height: 3.75rem;
        width: fit-content;
        display: flex;
        margin: 2rem;
        margin-bottom: 0.5rem;
        align-items: center;
        border-radius: 30px;
    }