#recipe-builder-page-body {
    position: relative;
    overflow: hidden;
    background-color: var(--default-primary-background);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#recipe-builder-page-content {
    z-index: 1;
    margin-top: -5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    max-height: 50rem;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

#recipe-builder-food-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    width: 100%;
    z-index: 1;
}

#recipe-builder-food-searchbox {
    position: inherit;
    box-sizing: border-box;
    height: 3.75rem;
    width: fit-content;
    display: flex;
    margin: 2rem;
    margin-bottom: 0.5rem;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    border: 0.2rem solid var(--default-primary-border);
}
#recipe-builder-food-searchbox input {
    font-size: 1.125rem;
    outline: none;
    padding: 0;
    min-width: 13.125rem;
    width: 20vw;
    max-width: 25rem;
    height: 3rem;
    border: none;
    background-color: white;
}
#recipe-builder-food-searchbox button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    right: 0;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 50%;
}

#recipe-builder-food-searchbox button:hover {
    background-color: var(--default-primary-background);
}
#recipe-builder-food-searchbox button img {
    height: 1.5rem;
}
#recipe-builder-food-searchbox:focus-within {
    border: 0.2rem solid var(--default-tertiary-color);
}

#recipe-builder-search-island {
    backdrop-filter: blur(0);
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 25rem;
    min-height: 10.5rem;
    height: 40vh;
    /* margin: 2rem; */
}

#recipe-builder-search-island ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    max-height: 50vh;
    width: 90%;
    overflow: auto;
    justify-self: flex-start;
}

#recipe-builder-search-island ul li {
    transition: filter 0.1s;
    cursor: pointer;
    width: 85%;
    padding: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 1rem;
    background: var(--default-primary-background);
    border-radius: 10px;
}

#recipe-builder-search-island ul li:nth-child(odd) {
    background: white;
}

#recipe-builder-search-island ul li:hover {
    filter: brightness(90%);
}

#recipe-builder-search-island ul li h4 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    color: var(--default-primary-text);
    font-size: 1rem;
}

#recipe-builder-search-island ul li p {
    padding: 0;
    margin-bottom: 0.75rem;
    margin-top: 0;
    color: var(--default-secondary-text);
    font-size: 0.75rem;
}

#recipe-builder-search-island-number {
    padding: 0;
    margin: 0;
    margin-top: -1rem;
    margin-bottom: 1rem;
    align-self: flex-start;
    color: var(--default-secondary-text);
}

#recipe-builder-search-island #food-search-refine-message {
    cursor: default;
    text-align: center;
    background-color: white;
}
#recipe-builder-search-island #recipe-builder-search-refine-message:hover {
    filter: none;
}

#recipe-builder-search-island img {
    filter: opacity(0.4) grayscale(0.5);
    height: 25rem;
}

#recipe-builder-search-island h3 {
    z-index: 1;
    margin-top: -2.5rem;
}
#recipe-builder-food-island {
    backdrop-filter: blur(0);
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1.5rem;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 40rem;
    min-height: 30vh;
    height: 36.5rem;
    max-height: 74vh;
}

#recipe-builder-food-island-back-arrow {
    align-self: flex-start;
    font-weight: 700;
    margin-left: 1vw;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: var(--default-primary-text);
    cursor: pointer;
    background-color: white;
    border: none;
}

#recipe-builder-food-island-back-arrow img {
    height: 1rem;
    width: 1rem;
}

#recipe-builder-food-island-add {
    align-self: flex-end;
    font-weight: 700;
    margin-left: 1vw;
    display: inline-flex;
    align-items: top;
    gap: 0.25rem;
    text-decoration: none;
    color: var(--default-primary-text);
    cursor: pointer;
    background-color: white;
    border: none;
}

#recipe-builder-food-island-add img {
    height: 1rem;
    width: 1rem;
}

#recipe-builder-food-island-buttons {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

#recipe-builder-main-island {
    flex-shrink: 0;
    backdrop-filter: blur(0);
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0rem;
    border-radius: 1rem;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 30rem;
    min-height: 12.5rem;
    max-height: 65vh;
    margin: 2rem;
    overflow-y: auto;
}

#recipe-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15rem;
    width: 100%;
    max-width: 40rem;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#recipe-builder-main-island h2 {
    font-size: 1.5rem;
    margin: 1rem;
}

#recipe-builder-ingredients {
    flex-shrink: 0;
    margin-bottom: 0.25rem;
    width: 100%;
    max-height: 30vh;
    overflow-y: auto;
}

#recipe-inputs {
    margin-bottom: 1.5rem;
}

.recipe-section-item {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.75rem;
    background-color: white;
}

.recipe-section-item:hover {
    filter: brightness(0.95);
}

.recipe-section-item-name h4 {
    text-align: left;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.recipe-section-item-name p {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
    color: var(--default-secondary-text);
}

.recipe-section-item .recipe-section-remove-item {
    display: flex;
    align-items: center;
}

.recipe-section-item .recipe-section-remove-item button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.recipe-section-item .recipe-section-remove-item img {
    height: 2rem;
    width: 2rem;
}

#recipe-inputs {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

#recipe-inputs .form-input input {
    height: 3rem;
    border: 1px solid var(--default-primary-border);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#recipe-name-input {
    max-width: 15ch;
}

#recipe-serving-input {
    max-width: 8ch;
}

#recipe-info-show-more {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    font-size: 1.25rem;
    width: 15rem;
    padding: 0;
    margin-bottom: 2rem;
}

#recipe-info-show-more h5 {
    font-size: 1.0675rem;
}

#recipe-info-show-more button {
    margin-top: -1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    right: 0;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 2.75rem;
    width: 2.75rem;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 50%;
}

#recipe-info-show-more:hover button {
    background-color: var(--default-primary-background);
}
#recipe-info-show-more button img {
    height: 1.125rem;
}

#recipe-info-show-less {
    margin-bottom: 2rem;
}

#recipe-info-show-less button {
    margin-top: -1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    right: 0;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 2.75rem;
    width: 2.75rem;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 50%;
}

#recipe-info-show-less button:hover {
    background-color: var(--default-primary-background);
}
#recipe-info-show-less button img {
    transform: scaleY(-1);
    height: 1.125rem;
}

#recipe-builder-main-island #food-page-more-info {
    width: 95%;
}

#recipe-builder-save-recipe-button {
    color: var(--default-primary-text);
    font-size: 1.35rem;
    border: none;
    border-radius: 0.75rem;
    background-color: var(--default-primary-background);
    padding: 1rem;
    height: 4rem;
}

#recipe-builder-save-recipe-button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

#recipe-island-delete {
    color: var(--exercise-primary-color);
    align-self: flex-end;
    font-weight: 700;
    margin-left: 1vw;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    border: none;
    margin-bottom: 1rem;
}

#recipe-island-delete .delete-log-button-icon {
    height: 1.75rem;
    width: 1.75rem;
}

#recipe-builder-error {
    color: var(--exercise-primary-color);
}

@media screen and (max-width: 800px) {
    #recipe-builder-page-content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    #recipe-builder-food-searchbox input {
        font-size: 1.5rem;
        min-width: 13.125rem;
        width: 50vw;
        max-width: 35rem;
        height: 2rem;
        border: none;
        background-color: white;
    }

    #recipe-builder-food-searchbox button {
        margin-right: 1rem;
        height: 3rem;
        width: 3rem;
    }

    #recipe-builder-food-searchbox button img {
        height: 1.5rem;
    }

    #recipe-builder-search-island {
        width: 70vw;
        max-width: 30rem;
    }

    #recipe-builder-food-island {
        width: 60vw;
        max-height: 60vh;
    }

    #recipe-builder-main-island {
        width: 75vw;
        max-width: 30rem;
    }

    #food-info {
        width: 60vw;
        max-height: 60vh;
    }

    #macro-circle h4 {
        font-size: 1.5rem;
    }

    #food-page-serving-selector {
        width: 55vw;
    }

    #food-page-more-info {
        width: 55vw;
    }

    #recipe-inputs input {
        font-size: 1.35rem;
    }
}

@media screen and (max-width: 500px) {
    #recipe-builder-food-island {
        width: 70vw;
        max-height: 62.5vh;
    }

    #food-info {
        width: 70vw;
        max-height: 60vh;
    }

    #food-page-serving-selector {
        width: 65vw;
    }

    #food-page-more-info {
        width: 65vw;
    }
    #recipe-builder-search-island h3 {
        font-size: 0.95rem;
    }
}
