#navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
    height: 8%;
    max-height: 5rem;
}

#navbar.food {
    background-color: var(--food-tertiary-green);
}

#navbar.exercise {
    background-color: var(--exercise-tertiary-red);
}

#navbar.profile {
    background-color: var(--profile-tertiary-purple);
}

#navbar.main {
    background-color: var(--default-tertiary-blue);
}

#navbar h1 {
    display: inline-flex;
    align-items: center;
    padding: 1rem;
    margin: 0;
    /* background-color: gray; */
}

#navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

#navbar ul a,
#navbar ul p {
    cursor: pointer;
    transition: background-color 0.1s;
    padding: 1rem;
}

#navbar ul a:hover,
#navbar ul p:hover {
    background-color: #c7c7c7;
    padding: 1rem;
}

#navbar li {
    display: inline-flex;
    align-items: center;
    /* background-color: gray; */
}

#navbar a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
}

#navbar-profile {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 3rem;
    margin-right: 0.5rem;
    /* height: 1vh; */
}

#navbar-profile-icon {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background: gray;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

#navbar-profile-icon:hover {
    filter: brightness(1.5);
}

#navbar-profile-menu {
    position: absolute;
    top: 3rem;
    padding-top: 1.5rem;
    right: -0.5rem;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 1rem;
}

#navbar-profile-menu.food {
    background-color: var(--food-tertiary-green);
}

#navbar-profile-menu.exercise {
    background-color: var(--exercise-tertiary-red);
}

#navbar-profile-menu.profile {
    background-color: var(--profile-tertiary-purple);
}

#navbar-profile-menu.main {
    background-color: var(--default-tertiary-blue);
}

#navbar-profile-menu a,
#navbar-profile-menu p {
    margin: 0.25rem;
    margin-right: 1rem;
    margin-left: 1rem;
    display: block;
    text-align: right;
    width: 10ch;
    padding: 1rem;
    font-size: 1.125rem;
}
