#navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 5vh;
}

#navbar.food {
    background-color: var(--food-tertiary-green);
}

#navbar.exercise {
    background-color: var(--exercise-tertiary-red);
}

#navbar.profile {
    background-color: var(--profile-tertiary-purple);
}

#navbar.main {
    background-color: var(--default-tertiary-blue);
}

#navbar h1 {
    padding: 1rem;
    margin: 0;
    /* background-color: gray; */
    cursor: pointer;
}

#navbar ul {
    margin: 0;
    display: flex;
    list-style: none;
}

#navbar ul a {
    transition: background-color 0.1s;
    padding: 1rem;
}

#navbar ul a:hover {
    background-color: #c7c7c7;
    padding: 1rem;
}

#navbar li {
    display: inline-flex;
    align-items: center;
    /* background-color: gray; */
}

#navbar a {
    text-decoration: none;
    color: white;
}
