.form-input {
    position: relative;
    display: flex;
    justify-content: center;
}

.form-input input {
    width: 100%;
}

.form-input label {
    color: var(--default-secondary-text);
    font-size: 0.75rem;
    /* background-color: white; */
    position: absolute;
    padding: 0.25rem;
    margin: 0;
    left: 0%;
    top: -1.125rem;
}
