#Home-page-body {
    position: relative;
    overflow: hidden;
    background-color: var(--default-primary-background);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#Home-island {
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 40rem;
    min-height: 20rem;
    height: 25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /* max-height: 50vh; */
}

#Home-island-2 {
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 40rem;
    min-height: 20rem;
    height: 25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /* max-height: 50vh; */
}

#Home-island h2 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

#Home-emailbox {
    padding: 1rem;
    margin: 1rem;
    /* height: 1rem; */
}
#Home-message {
    padding: 1rem;
    margin: 1rem;
    resize: inherit;
    /* height: 1rem; */
}

#Home-message-error {
    color: var(--Home-error-red);
    padding: 0;
    margin: 0;
    /* height: 1rem; */
}

#Home-island hr {
    padding: 0;
    margin: 0;
    /* margin-top: -10%; */
    width: 75%;
    max-width: 30ch;
    border: 1px solid var(--default-secondary-text);
}

#Home-island-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

#Home-island-form input {
    font-size: 1.125rem;
    padding: 1rem;
    height: 0.5rem;
    width: 75%;
    max-width: 30ch;
    border: solid 1px;
    border-color: var(--default-primary-border);
    border-radius: 5px;
}

#Home-island-form p {
    font-size: 0.75rem;
    /* margin-top: -5%; */
}

#Home-page-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#Home-page-buttons button {
    transition: background-color 0.1s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    padding: 1rem;
    /* margin-top: -10%; */
    width: 50ch;
    height: 0.75rem;
    max-width: 12rem;
    border: solid 1px;
    border-color: var(--default-primary-border);
    border-radius: 5px;
    background-color: var(--default-secondary-blue);
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#Home-page-buttons button:hover {
    background-color: var(--default-secondary-blue-hover);
}

#Home-page-buttons a {
    transition: background-color 0.1s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    padding: 1rem;
    /* margin-top: -10%; */
    width: 50ch;
    height: 0.75rem;
    max-width: 12rem;
    border: solid 1px;
    border-color: var(--default-primary-border);
    border-radius: 5px;
    background-color: var(--default-secondary-blue);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

#Home-island a:hover {
    background-color: var(--default-secondary-blue-hover);
}

#Home-page-round-background-decoration {
    position: absolute;
    bottom: 70%;
    background-color: var(--default-primary-blue);
    height: 100rem;
    max-height: 80vh;
    width: 250rem;
    max-width: 200vw;
    border-radius: 50%;
}

#Home-page-bottom-top-banner-background-decoration {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 16vh;
    background-color: var(--default-secondary-blue);
}

#Home-page-bottom-bot-banner-background-decoration {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    background-color: var(--default-tertiary-blue);
}

#Home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    padding: 1rem;
    resize: inherit;
    min-width: 15rem;
    width: 20vw;
    max-width: 20rem;
    height: 10vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    #Home-island {
        width: 70vw;
        max-width: 30rem;
    }

    #Home-island a {
        height: 1.75rem;
    }

    #Home-island-form input {
        font-size: 1.35rem;
        height: 1.5rem;
    }

    #Home-island-form button {
        height: 1.75rem;
    }

    #Home-page-round-background-decoration {
        max-height: 30vh;
    }
}
